name: Release Archstats
on:
  release:
    types: [published]

permissions:
    contents: write
    packages: write

jobs:
  get-version:
    runs-on: ubuntu-latest
    outputs:
        version: ${{ steps.get-version.outputs.version }}
    steps:
      - id: get-version
        name: Get version
        run: echo "version=${GITHUB_REF#refs/*/}" >> $GITHUB_OUTPUT

  releases:
    name: ${{ matrix.goos }} ${{ matrix.goarch }} ${{ needs.get-version.outputs.version }}
    uses: ./.github/workflows/build.yml
    needs:
      - get-version
    strategy:
      fail-fast: false
      matrix:
       include:
         - { goos: "linux", goarch: "386", runson: "ubuntu-latest"}
         - { goos: "linux", goarch: "amd64", runson: "ubuntu-latest"}
         - { goos: "linux", goarch: "arm64", runson: "ubuntu-latest"}
         - { goos: "windows", goarch: "386", runson: "ubuntu-latest"}
         - { goos: "windows", goarch: "amd64", runson: "ubuntu-latest"}
         - { goos: "darwin", goarch: "amd64", runson: "macos-latest"}
         - { goos: "darwin", goarch: "arm64", runson: "macos-latest" }
    with:
      goarch: ${{ matrix.goarch }}
      goos: ${{ matrix.goos }}
      package-name: archstats
      product-version: ${{ needs.get-version.outputs.version }}
      runson: ${{ matrix.runson }}
